.button {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  color: #f8fafc;
  background-color: #3b82f6;
  cursor: pointer;
  border-radius: 1000px;
  font-size: 16px;
  font-family: "Inter";
  transition: all 0.1s ease;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #f8fafc;
  color: #020617;
  transform: translateY(3px);
}

.button > svg {
  height: 24px;
  width: 24px;
}