.snippitsScreen {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #1E1E1F;
  flex: 1;
  padding: 64px 16px;
  gap: 64px;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  gap: 16px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: #E3E4E7;
}

.code {
  white-space: pre-wrap;
  background-color: #1E1E1F;
  padding: 16px;
  border-radius: 8px;
  color: #A0A0A3;
  font-family: monospace;
}

.description {
  color: #A0A0A3;
}