.body {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #1e1e1f;
  flex: 1;
  padding: 64px 16px;
  gap: 64px;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  gap: 16px;
}

.title {
  font-size: 32px;
  font-family: "Inter SemiBold";
  color: #e3e4e7;
}

.code {
  white-space: pre-wrap;
  background-color: #1e1e1f;
  padding: 16px;
  border-radius: 8px;
  color: #a0a0a3;
  font-family: monospace;
}

.description {
  color: #a0a0a3;
  line-height: 1.5;
}
