.code {
  white-space: pre;
  background-color: var(--color-gray-6);
  padding: 16px;
  border-radius: 8px;
  color: var(--color-gray-1);
  font-family: "Mono";
  font-size: 14px;
  word-break: normal;
  overflow-x: auto;
  border: 1px solid var(--color-gray-5);
}
