.hljs {
  color: #f8fafc;
  padding: 0;
  font-family: "Mono";
  line-height: 1.4;
}
.hljs-comment,
.hljs-quote {
  color: #71717a;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #f472b6;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #fb923c;
}
.hljs-literal {
  color: #38bdf8;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #a78bfa;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #fb7185;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #818cf8;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e97b6f;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
