.hljs {
  color: #a0a0a3; /* Light text */
  padding: 0;
  font-family: "Mono";
}

.hljs-keyword {
  color: #E63B64;
}
.hljs-string {
  color: #64D82A;
}
.hljs-number,
.hljs-literal {
  color: #EBA800;
}
.hljs-comment,
.hljs-quote {
  color: var(--color-gray-3);
}
.hljs-meta {
  color: #5D6AFF;
}
