.tab {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  color: #A0A0A3;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Inter Medium";
  padding-right: 24px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  flex-shrink: 0;
}

.tab:hover {
  background-color: #1E1E1F;
  color: #E3E4E7;
}

.isSelected {
  background-color: #1E1E1F !important;
  color: #E3E4E7 !important;
}

.icon {
  padding: 8px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}