.tab {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  color: var(--color-gray-1);
  cursor: pointer;
  border-radius: 1000px;
  font-size: 16px;
  font-family: "Inter Medium";
  padding-right: 24px;
  flex-shrink: 0;
}

.tab:hover {
  background-color: var(--color-gray-5) !important;
  color: var(--color-gray-0) !important;
}

.isSelected {
  background-color: var(--color-gray-5) !important;
  color: var(--color-gray-0) !important;
}

.icon {
  padding: 8px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}