:root {
    --color-gray-0: #fafafa;
    --color-gray-1: #e4e4e7;
    --color-gray-2: #a1a1aa;
    --color-gray-3: #71717a;
    --color-gray-4: #3f3f46;
    --color-gray-5: #27272a;
    --color-gray-6: #18181b;
    --color-bg: #09090b;
}