:root {
    --color-gray-0: #EBEBF0;
    --color-gray-1: #8E8E93;
    --color-gray-2: #636366;
    --color-gray-3: #48484A;
    --color-gray-4: #3A3A3C;
    --color-gray-5: #2C2C2E;
    --color-gray-6: #1C1C1E;
    --color-bg: #0F0F10;
}