:root {
    --color-gray-0: #1C1C1E;
    --color-gray-1: #8E8E93;
    --color-gray-2: #AEAEB2;
    --color-gray-3: #C7C7CC;
    --color-gray-4: #D1D1D6;
    --color-gray-5: #E5E5EA;
    --color-gray-6: #F2F2F7;
    --color-bg: #ffffff;
}