.tabs {
  display: flex;
  background-color: #0b0b0c;
  border-radius: 8px;
  padding: 4px;
  gap: 4px;
  overflow: auto;
  border: 1px solid #1e1e1f;
}

.tab {
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  color: #a0a0a3;
  flex: 1;
  cursor: pointer;
}

.tab:hover {
  background-color: #1e1e1f;
}

.isSelected {
  background-color: #1E1E1F !important;
  color: #e3e4e7;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 16px;
  color: #e3e4e7;
  font-family: "Inter SemiBold";
}

.value{
  color: #a0a0a3;
  font-family: "Inter";
}