.sidebar {
  min-width: 256px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border: 1px solid var(--color-gray-5);
  overflow: auto;
  background-color: var(--color-gray-6);
  flex-shrink: 0;
  min-height: 73px;
  margin: 16px;
  margin-right: 0;
  border-radius: 16px;
}

.title {
  font-size: 18px;
  font-family: "Inter SemiBold";
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--color-gray-0);
  padding: 32px 16px;
}

.menuButton {
  display: flex;
  align-items: center;
  padding: 16px;
  color: var(--color-gray-1);
  cursor: pointer;
  border-radius: 8px;
}

.menuButton:hover {
  background-color: var(--color-gray-5);
  color: var(--color-gray-0);
}

@media (max-width: 960px) {
  .sidebar {
    min-width: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
    border-bottom: 1px solid var(--color-gray-5);
    overflow: auto;
    background-color: var(--color-gray-6);
    margin: 0;
    border-radius: 0;
  }
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--color-gray-0);
    padding: 0;
    padding-left: 8px;
  }
}
