.tab {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  color: var(--color-gray-1);
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Inter Medium";
  flex-shrink: 0;
}

.label {
  padding-right: 24px;
}

.tab:hover {
  background-color: var(--color-gray-5);
  color: var(--color-gray-0);
}

.isSelected {
  background-color: var(--color-gray-5) !important;
  color: var(--color-gray-0) !important;
}

.icon {
  padding: 8px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isNew {
  margin-left: auto;
  padding: 2px 4px;
  background-color: var(--color-gray-4);
  color: var(--color-gray-1);
  border-radius: 4px;
  font-size: 12px;
  align-self: center;
}