.tab {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  color: #A0A0A3;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  
  flex-shrink: 0;
}

.label {
  padding-right: 24px;
}

.tab:hover {
  background-color: #1E1E1F;
  color: #E3E4E7;
}

.isSelected {
  background-color: #1E1E1F !important;
  color: #E3E4E7 !important;
}

.icon {
  padding: 8px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isNew {
  margin-left: auto;
  padding: 2px 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  font-size: 12px;
  align-self: center;
}