.tutorialsScreen {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 64px 16px;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  gap: 16px;
  margin-bottom: 32px;
}

.title {
  font-size: 32px;
  font-family: "Inter SemiBold";
  color: var(--color-gray-0);
}

.description {
  color: var(--color-gray-1);
}
