.homeScreen {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 64px 16px;
  gap: 64px;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  gap: 16px;
}

.title {
  font-size: 32px;
  font-family: "Inter SemiBold";
  color: #e3e4e7;
}

.description {
  color: #a0a0a3;
}

.grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 16px;
  border-radius: 16px;
  align-self: flex-start;
  transition: background-color 0.2s ease;
}

@media (max-width: 960px) {
  .profileContainer {
    align-self: center;
  }
}

.profileContainer:hover {
  background-color: #1e1e1f;
}

.profilePic {
  height: 64px;
  width: 64px;
  border-radius: 1000px;
  overflow: hidden;
}

.profilePic > img {
  height: 100%;
  width: 100%;
}

.profileTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 16px;
}

.profileName {
  font-size: 20px;
  font-family: "Inter Medium";
}

.profileDescription {
  font-size: 16px;
  color: #a0a0a3;
}

.profileContainer:hover .profileName {
  text-decoration: underline;
}

.notification {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05) inset;
  min-height: 64px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #EBA8001A;
  margin-top: 16px;
  gap: 8px;
  font-size: 18px;
  font-family: "Inter SemiBold";
  color: #EBA800;
}
