.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 64px 16px;
  gap: 64px;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  gap: 16px;
}

.title {
  font-size: 32px;
  font-family: "Inter SemiBold";
  color: #e3e4e7;
}

.description {
  color: #a0a0a3;
  line-height: 1.5;
}
